<div id="download" class="page-layout simple tabbed ht-page" layout="column" layout-align="center center" data-ng-init="vm.init_box('download')">
    
    <div layout-align="center center" layout="column">
        <img src="./img/icon.png" style="width: 100px;height: auto">
        <p class="font-f" layout="column" layout-align="center center" style="padding-top: 20px">
            <span class="md-display-1">Connecting your Business partners with cards</span>
            <span class="md-display-1" style="padding-top: 20px">More than Name Card Manager</span>
        </p>
        <div style="padding-top: 35px; width: 75%" layout="row" layout-align="space-around center">
            <img src="./img/android-download.png" style="width: 10em;height: auto">
            <img src="./img/app_store.png" style="width: 10em;height: auto">
        </div>
    </div>
</div>